body{
	padding:0;
	margin:0;
	background: url(senary.png)no-repeat;
	background-size: cover;
}

.form{
	font-family: 'Roboto', sans-serif;
	position:  relative;
	z-index: 1;
	background: #FFFFFF;
	opacity: 99%;
	max-width: 260px;
	margin: 200px auto 100px;
	padding: 10px 45px 30px 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgb(0,0,0,0.2),0 5px 5px 0 rgba(0,0,0,0.24);
	border-radius: 10px;
}
.form p{
	font-size: 15px;
	padding: 1px;
	text-align: center;
}